# Byte-compiled / optimized / DLL files
__pycache__/
.venv
.env
docker/mongodb
docker/rabbitmq
docker/grafana
docker/log
log
.vscode
.metals
algo-firebase.json
cclub-cloud-vision-api.json
*.pem
.VSCodeCounter